.container {
    margin-bottom: 15px;
}
img {
    width:500px;
    height:500px;
    align-content: center;
}

@media (min-width: 320px) and (max-width: 480px) {

     img{
         width:100%;
     }
}