<div class="container">
 <div *ngFor="let p of blog | async" class="col-sm-6 card">
  <div class="card-header" style="text-align: center">
    <strong style="font-size: 28px;font-family: Arial, Helvetica, sans-serif">{{p.Title}}</strong>
  </div>
  <div class="card-body">
    <img class="center" src="{{p.Img}}">
    <h5 style="font-size: 20px" class="card-title">{{p.Date}}</h5>
    <div class="wrap">
        <a href="blog/{{p.Title}}" style="text-decoration: none" class="button"><strong style="font-size: 20px">Read</strong></a>
    </div>
  </div>
</div>
</div>

