
<div class="card">
  <img src="assets/img/spidy2.jpg" alt="Darshan" style="width:100%">
  <h1>Darshan Patil</h1>
  <p class="title">Friendly Neighborhood Developer!</p>
  <p style="font-size: 18px;text-align: center;padding: 2px;">Hii....I am a Third Year Computer engineering Student from Sardar Patel Institute of Technology, Mumbai. I Love Coding with passion for technology and always ready to learn something new!!</p>
  <div style="display:inline-block">
  <a target="_blank" href="https://github.com/darshan761"><i class="fa fa-github fa-fw"></i></a>
  <a target="_blank" href="https://twitter.com/Darshan_1199"><i class="fa fa-twitter fa-fw"></i></a> 
  <a target="_blank" href="https://linkedin.com/in/darshan-patil-3a64ab157/"><i class="fa fa-linkedin fa-fw"></i></a> 
  <a target="_blank" href="https://www.facebook.com/profile.php?id=100010732938800"><i class="fa fa-facebook fa-fw"></i></a>
  <a target="_blank" href="https://firebasestorage.googleapis.com/v0/b/website-65975.appspot.com/o/Darshan_patil%20-%20Google%20Docs.pdf?alt=media&token=46891b5e-890a-44a7-a807-91cba2b38855"><i class="fa fa-file-text fa-fw"></i></a> 
  </div>
  <p><button></button></p>
</div>