
<div class="card">
  <img src="assets/img/spidy2.jpg" alt="Darshan" style="width:100%">
  <h1>Darshan Patil</h1>
  <p class="title">Friendly Neighborhood Developer!</p>
  <!----<p>SPIT,Mumbai</p>----->
  <a href="https://github.com/darshan761"><i class="fa fa-github fa-fw"></i></a>
  <a href="https://twitter.com/Darshan_1199"><i class="fa fa-twitter fa-fw"></i></a> 
  <a href="https://linkedin.com/in/darshan-patil-3a64ab157/"><i class="fa fa-linkedin fa-fw"></i></a> 
  <a href="https://www.facebook.com/profile.php?id=100010732938800"><i class="fa fa-facebook fa-fw"></i></a>
  <a href="https://docs.google.com/document/d/1nhZVu4H2YUOJoRxwY3rm9LLc4hhIvFiWxCPYnRyjBzs/edit?usp=sharing"><i class="fa fa-file-text fa-fw"></i></a> 
  <br><br>
  <p><button>Contact</button></p>
</div>