
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="font-size: 28px;color: azure" href="home">Darshan Patil</a>
    </div>
    <ul  class="nav navbar-nav" style="display:inline-block;font-size: 28px">
      <li><a href="project">Project</a></li>
      <li><a  href="blog">Blog</a></li>
      <li><a href="work">Work</a></li>
      
    </ul>
  </div>
</nav>

    
    
  
